[submodule "powerlevel10k/powerlevel10k"]
	path = powerlevel10k/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
